venv/
.venv/

node_modules/
frontend/node_modules/

__pycache__/
*.pyc

.vscode/

.env
.env.local

outputs/
Test_images/

.DS_Store
Thumbs.db

backend/enhancement/weights/
gfpgan/weights/

# Build folders
dist/
build/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/